html {
  background-color: black;
}

body {
  font-family: "Nunito", sans-serif;
  width: 70%;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 3px solid grey;
}

header img {
  height: 70px;
  width: 70px;
  padding: 20px;
}

nav ul {
  display: inline-flex;
  list-style: none;
  padding: 20px;
}

nav ul li {
  margin: 10px 30px;
  font-weight: bold;
  font-size: 1.5em;
}

h1 {
  font-size: 1.5em;
  margin: 60px 30px;
  color: orange;
}

.subtitle-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.subtitle-button span {
  font-size: 2em;
  border: 2px solid orange;
  border-radius: 0 2em 2em 2em;
  padding: 0.5em 1em;
  cursor: pointer;
}

.subtitle-button span:hover {
  background-color: orange;
  color: white;
}

h2 {
  font-size: 4em;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container .photo {
  position: relative;
  background-size: cover;
  min-width: 300px;
  width: 30%;
  height: 400px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.container .photo:hover .overlay {
  opacity: 1;
}

.container .photo,
.overlay {
  border-radius: 3em;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay span:first-child {
  font-weight: normal;
}

.overlay span:last-child {
  font-size: 2em;
  font-weight: bold;
}

.perro1 {
  background-image: url(/imagenes/01.jpg);
}
.gato1 {
  background-image: url(/imagenes/02.jpg);
}
.perro2 {
  background-image: url(/imagenes/03.jpg);
}
